<div class="center-jubotron">
  <h1>Welcome to my shit</h1>
  <h2>This is a sample app of a fuckin shizophrenic</h2>
  <%= link_to "Sign up now", sign_up_path , class: "btn btn-lg btn-primary" %>

</div>
<div class="sampleimg1"><%= link_to image_tag('rails.png', alt: "Rails logo"), 'https://rubyonrails.org/' %></div>
